/* -------------------------------- VARIABLES ------------------------------- */
:root {
    /* Primary */
    --cyan:hsl(180, 66%, 49%);
    --dark-violet:hsl(257, 27%, 26%);
    
    /* Secondary */
    --red:hsl(0, 87%, 67%);
  
    /* Neutral */
    --gray: hsl(0, 0%, 75%);
    --grayish-violet:hsl(257, 7%, 63%);
    --very-dark-blue:hsl(255, 11%, 22%);
    --very-dark-violet:hsl(260, 8%, 14%);
  }

/* ------------------------------ BASIC STYLING ----------------------------- */
body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: var(--grayish-violet);
    overflow-x: hidden;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: lighter;
  }

  button {
      outline: none;
      border: 0;
      background: none;
      cursor: pointer;
  }
  
  img {
    display: block;
    width: 100%;
  }

  h1,h2,h3
 {
     color: black;
 }

/* ---------------------------------- UTILS --------------------------------- */
.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.sub-container {
    background-color: rgba(214, 214, 214, 0.548);
    padding-bottom: 60px;
}

.btn {
    color: white;
    background: var(--cyan);
    padding: 8px 25px;
    border-radius: 25px;
    font-size: 1rem;
}

.btn:hover {
    opacity: 0.8;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */

nav {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    width: 100%;
}

nav .hamburger {
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    display: none;
}

nav .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}

nav .navbar a {
    font-size: 1rem;
    transition: color 0.4s ease-in-out;
}

nav .navbar a:hover {
    color: black;
}

nav .navbar .navlist {
    display: flex;
}

nav .navbar .navlist li {
    margin-right: 20px;
}

nav .navbar .navlist li a {
    color: var(--grayish-violet);
}

nav .navbar .login {
    display: flex;
    align-items: center;
}

nav .navbar .login li:first-child a {
    color: var(--grayish-violet);
    margin-right: 30px;
}

/* -------------------------------------------------------------------------- */
/*                                    HERO                                    */
/* -------------------------------------------------------------------------- */
.hero {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero .hero-content {
    width: 70%;
}

.hero .hero-content h1 {
    font-size: 4rem;
    line-height: 1;
    color: black;
}

.hero .hero-content p {
    margin-bottom: 40px;
}

/* ------------------------------ */

.hero .illustration {
    position: relative;
    left: 230px;
}

.hero .illustration img {
    width: 120%;
}

/* -------------------------------------------------------------------------- */
/*                                  INPUT URL                                 */
/* -------------------------------------------------------------------------- */
.input-url {
    margin-top: 200px;
    position: relative;
    top: -50px;
}

.input-url .form-content {
    background: url('../src/images/bg-shorten-desktop.svg') no-repeat center center/contain;
    background-color: var(--dark-violet);
    height: 110px;
    border-radius: 10px;
    position: relative;
}
.input-url form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.input-url form label {
    display: none;
}

.input-url form input {
    width: 70%;
    padding: 15px 20px;
    margin-right: 20px;
    border-radius: 8px;
    border: none;
}

.input-url form input::placeholder {
    font-size: 1rem;
    color: var(--grayish-violet);
}

.input-url form .shorten {
    width: 15%;
    padding: 12.5px 20px;
    border-radius: 8px;
    background-color: var(--cyan);
    color: white;
    font-size: 1rem;
}

.input-url form .shorten:hover {
    opacity: 0.8;
}

/* ------------------------------- CHECK ERROR ------------------------------- */

.input-url .form-content .err-msg {
    position: absolute;
    color: var(--red);
    top: 72%;
    left: 6.5%;
    font-size: 0.85rem;
    font-style: italic;
    display: none;
}

/* ------------------------------ */
.input-url .result-list {
    margin-top: 20px;
    width: 100%;
}

.input-url .result-list .result-item {
    background-color: white;
    border-radius: 5px;
    padding: 15px 30px;
    display: flex;
    /* justify-content: space-between; */
    flex: 1;
    align-items: center;
    margin-bottom: 10px;
}

.input-url .result-list .result-item .origin {
    color: black;
    flex: 2;
}

.input-url .result-list .result-item .result {
    color: var(--cyan);
    margin-right: 20px;
}

.input-url .result-list .result-item .copy {
    color: white;
    background: var(--cyan);
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* -------------------------------------------------------------------------- */
/*                                  STATISTIC                                 */
/* -------------------------------------------------------------------------- */
.statistic {
    margin-top: 50px;
}

.statistic header {
    width: 50%;
    margin: auto;
    text-align: center;
}

.statistic header p {
    font-size: 1rem;
    line-height: 1.7;
    margin: 20px 0;
}

/* ------------------------------ */
.statistic .stat-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-bottom: 80px;
    position: relative;
}

.statistic .stat-grid::before {
    content: "";
    background-color: var(--cyan);
    position: absolute;
    height: 8px;
    width: 100%;
    top: 50%;
    transform: translateY(-50px);
    z-index: -5;
}

.statistic .stat-grid img {
    width: 25%;
    background-color: var(--dark-violet);
    padding: 15px;
    border-radius: 50%;
    position: relative;
    top: -30px;
}

.statistic .stat-grid .stat-item {
    background-color: white;
    padding: 0 30px;
    height: 100%;
    /* width: 350px; */
}

.statistic .stat-grid .stat-item p {
    font-size: 0.85rem;
    margin-top: 15px;
    line-height: 1.6;
}

.statistic .stat-grid .stat-item:nth-child(2) {
    margin-top: 30px;
}

.statistic .stat-grid .stat-item:nth-child(3) {
    margin-top: 60px;
}

/* -------------------------------------------------------------------------- */
/*                                   STARTER                                  */
/* -------------------------------------------------------------------------- */
.starter {
    background: url('../src/images/bg-boost-desktop.svg') no-repeat center center/cover;
    background-color: var(--dark-violet);
    padding: 40px;
    text-align: center;
}

.starter h2 {
    color: white;
    margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
footer {
    background-color: var(--very-dark-violet);
    padding: 30px 0;
}

footer .heading {
    margin-bottom: 15px;
    color: white;
}

footer a {
    color: var(--grayish-violet);
    font-size: 0.9rem;
}

footer .footer-flex {
    display: flex;
    justify-content: space-between;
}

footer .footer-flex .socials a {
    margin-right: 15px;
}

footer .footer-flex a {
    transition: color 0.4s ease-in-out;
}

footer .footer-flex a:hover {
    color: var(--cyan);
}


